@import "common";

$connector-color: var(--#{$prefix}body-color);
$connector-width: 2.4px;
$connector-left-margin: 12px;
$connector-right-padding: 28px;
$connector-label-spacing: 8px;

.node .node {
  position: relative;
  display: block;
  margin-left: $connector-left-margin;
  padding-left: $connector-right-padding;
  line-height: 2;

  &::after,
  .node-label::after,
  .node-label::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $connector-color;
  }

  &::after {
    top: 0;
    left: 0;
    width: $connector-width;
    height: 100%;
  }

  &:last-child::after {
    display: none;
  }

  .node-label {
    position: relative;

    &::before {
      top: 0;
      left: -$connector-right-padding;
      bottom: 50%;
      width: $connector-width;
    }
  
    &::after {
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: -$connector-right-padding;
      width: $connector-right-padding - $connector-label-spacing;
      height: $connector-width;
    }
  }
}

.node-collapsed {
  display: none;
}
